.container-carousel {
  width: 1200px;
  height: 100vh;
}

.carouselButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 40px;
}


@media only screen and (max-width:1200px) {
  .container-carousel {
    width: 380px!important;
  }
}