.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(190, 190, 190, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  z-index: 1000;
  flex-direction: column;
  width: 100%;
  overflow: scroll;
}

.modal.enter-done {
  opacity: 1;
  pointer-events: visible;
}

.modal.exit {
  opacity: 0;
}

.modal-content-non-functional {
  margin-left: 40px;
  border-radius: 16px 0px 0px 16px;
  position: relative;
  box-shadow: 0px 0px 8px 8px #61686126;
  background: linear-gradient(90deg, #FDFDE7 0%, #FFDBE6 100%);
  position: relative;
  overflow: scroll;
  height: 100vh;
  max-height:850px;
}



.modal.enter-done .modal-container-non-functional {
  transform: translateX(0);
}

.modal.exit .modal-container-non-functional {
  transform: translateX(200px);
}

.modal-body,
.modal-header,
.modal-footer {
  margin-left: 35px;
  margin-top: 30px;
  font-size: 12px;
  color: #616861;
  margin-right: 35px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.modal-title-non-functional {
  position: absolute;
  top: -20px;
  left: -10px;
  font-size: 24px;
  width: 120px;
  padding-right: 160px;
  padding-left: 20px;
  height: 65px;
  color: #232323;
  background: #6BFFCE;
  box-shadow: 0px 16px 28px rgba(97, 104, 97, 0.25);
  z-index: 2;
  align-items: center;
  display: flex;
}


.modal-container-non-functional {
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  transform: translateX(200px);
}
